# BancSynk - BTG Pactual Sandbox
BTG_ENV=sandbox
BTG_CLIENT_ID=
BTG_CLIENT_SECRET=
BTG_CERT_PATH=bancsynk/adapters/btg/cert/btg.crt
BTG_KEY_PATH=bancsynk/adapters/btg/cert/btg.key
BTG_BASE_URL=https://api.sandbox.btgpactual.com
BTG_AUTH_URL=https://id.sandbox.btgpactual.com/auth/realms/btg/protocol/openid-connect/token
