# BancSynk - BTG Pactual Sandbox
BTG_ENV=sandbox
BTG_CLIENT_ID=
BTG_CLIENT_SECRET=
BTG_BASE_URL=https://api.sandbox.empresas.btgpactual.com
BTG_AUTH_URL=https://id.sandbox.btgpactual.com/oauth2/token
BTG_AUTHORIZE_URL=https://id.sandbox.btgpactual.com/oauth2/authorize
BTG_REDIRECT_URI=https://localhost.com
BTG_SCOPE=openid empresas.btgpactual.com/accounts.readonly brn:btg:empresas:openfinance:accounts:info.readonly brn:btg:empresas:openfinance:accounts:balances.readonly

# Opcional: preencher apenas se o app BTG exigir mTLS/certificado.
BTG_CERT_PATH=
BTG_KEY_PATH=
